.DS_Store
Gam'Insa.xcodeproj/project.xcworkspace/xcshareddata/
Gam'Insa.xcodeproj/project.xcworkspace/xcuserdata/juliettegonzalez.xcuserdatad/
Gam'Insa.xcodeproj/xcuserdata/juliettegonzalez.xcuserdatad/
Gam'Insa.xcodeproj/project.pbxproj
Gam'Insa.xcodeproj/project.xcworkspace/xcshareddata/Gam'Insa.xccheckout
